<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <style>
        body {
            background-color: black;
            color: white;
        }

        .main {
            background-color: rgb(130, 119, 119);
            margin-top: 7rem;
            margin-left: 20%;
            height: 60vh;
            margin-right: 18rem;
            border-radius: 3rem;



        }

        #input_tag {
            padding: 1rem;
            border: none;
            width: 65%;
            margin-left: 5rem;
            border-radius: 3rem;
            margin-top: 1rem;
        }

        #btn {
            padding: 1rem;
            margin-left: 5rem;
            border-radius: 3rem;
            margin-top: 3rem;
            width: 70%;
            background-color: black;
            color: white;
        }

        #btn:hover {
            text-decoration: underline;
        }

        #valid {

            text-align: center;
            color: black;
            padding-top: 2rem;

        }
    </style>
    <div class="main">
        <div class="main_container">
            <form action="/forgotpasswordload" method="post">
                <h1 id="valid"><i> Enter New password</i></h1>
                <input type="text" name='password' placeholder=' enter new password' id='input_tag' required>
                <input type="text" name='confirmpassword' placeholder='confirm new password' id='input_tag' required>
                <input type="hidden" name="user_id" value="{{user_id}}">
                <br>
                <button type="submit" id='btn' value='Change password'>Change password</button>

            </form>
        </div>
    </div>
</body>

</html>